body {
    background-image: url('bg1.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
}

h2 {
    color: rgb(251 250 251);
    font-weight: bolder;
    background-color: rgb(2 2 2 / 70%);
    justify-items: center;
    text-shadow: -7px 8px 13px #000000;
}

header {
    background-color: rgb(114, 19, 12);
    padding: 16px;
    text-align: end;
    color: goldenrod;
    font-weight: bolder;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: burlywood;
    box-shadow: inset;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

.imdb-title{
    color: #fbeeee;
    text-shadow: -7px 8px 13px #000000;
}

.quote-container {
    text-align: center;
    margin: 0px;
    padding: 20px;
    background-color: rgb(19 38 50 / 95%);
    border: 1px solid #090138;
    border-radius: 5px;
}

#quoteText {
    font-size: 16px;
    font-weight: bold;
    color: #b0bbc9;
    margin: 10px;
}

.search-container {
    text-align: center;
    margin: 0px;
    padding: 20px;
    background-color: rgb(201, 32, 74);
    border: 1px solid #380134;
    border-radius: 5px;
}

#searchInput {
    padding: 10px;
    margin-right: 10px;
    font-weight: normal;
    border: 3px #594868 solid;
    color: #091003;
    background: #ffffffa6;
}

#searchButton {
    padding: 10px 20px;
    background-color: #e94343;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: -4px 5px 8px 0px #252828;
}

main {
    padding: 30px;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Automatically fit movies in columns */
    gap: 32px;
    padding: 5px;
    margin: 5px;
    justify-items: center; /* Center items horizontally */
}

.movie-card {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    color: rgb(0, 17, 255);
    background-color: rgb(77, 209, 110);
}

.movie-card img {
    max-width: 100%;
    max-height: 150px; /* Adjust height for better visibility */
    object-fit: contain; /* Crop image to fit within the card */
}

button {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #f73505;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6200ff;
    color: whitesmoke;
}

nav {
    background-color: #aaffb5;
}

.container {
    background-color: rgb(52 52 52 / 48%);
    color: #ffffff;
    font-weight: bold;
    text-shadow: -7px 8px 13px #000000;
}

.navbar {
    background-color: #1b1c1c;
    font-size: larger;
}

.navbar-brand {
    font-size: 24px;

}

.navbar-nav .nav-link {
    color: rgb(177 169 225);
    font-size: 20px;
}

.navbar-nav .nav-link:hover {
    color: rgb(255 255 255);
}

/* Highlight active nav link */
/* .navbar-nav .nav-item.active .nav-link {
    background-color: #007bff;
    border-radius: 5px;
}

.navbar-nav .nav-item.active .nav-link:hover {
    background-color: #0056b3;
    border-radius: 5px;
} */

/* Search results styles */
#searchResults .card {
    width: 100%;
    max-width: 200px;
    min-height: 280px; /* Adjust height for better visibility */
    margin: 5px;
    color: #ffffff;
    font-weight: bolder;
    background-color: #f5f4f438;
    box-shadow: -4px 5px 8px 0px #727778;
    object-fit: cover;
}

#favouritesList .card {
    background-color: #f5f4f438;
    width: 100%;
    max-width: 200px;
    min-height: 280px;
    margin: 10px;
    border: 1px solid #16151452;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#favouritesList .card-img-top {
    height: 150px; /* Adjust height for better visibility */
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

#favouritesList .card-body {
    padding: 10px;
}

#favouritesList .card-title {
    font-size: 20px;
    font-weight: bolder;
}

#favouritesList .more-button {
    margin-top: 10px;
}

.btn-secondary {
    background-color: #e5564c;
}

.card {
    background-color: #ffffff40;
}

#movieDetails img{
    height: 500px;
    object-fit: contain;
}